<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <!--
      A serverless blog for a collection of entries authored in Markdown.
      By Curran Kelleher 11/7/2013
    -->
    <title>Notes</title>

    <link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/theme.css">

    <script src="js/jquery.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/marked.js"></script>

    <!-- This is the best way I've found to integrate Disqus -->
    <script> var disqus_shortname = 'curran-notes'; </script>
    <script src="http://curran-notes.disqus.com/embed.js"></script>

    <!-- Run the main app. -->
    <script src="js/main.js"></script>

    <script type="text/template" id="indexPage">
      <div class="index-title">Notes:</div>
      <div class="author">by <%= author %></div>
      <ul class="entries">
        <% _.each(entries, function(entry){ %>
          <li>
            <a class="entry-title" href="#!entries/<%= entry.name %>"><%= entry.title %></a>
            <span class="date"><%= entry.date.format('MMMM Do YYYY') %></div>
          </li>
        <% }); %>
      </ul>
    </script>
    <script type="text/template" id="entryPage">
      <div class="title-container">
        <span class="entry-title"><%= title %></span>
        <span class="date"><%= date.format('MMMM Do YYYY') %></span>
        <div class="author">by <%= author %></div>
      </div>
      <div class="content"><%= content %></div>
    </script>
  </head>
  <body>
    <div id="container">
      <div id="content"> </div>
      <div id="disqus_thread"></div>
    </div>
  </body>
</html>
